@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Patrick+Hand&display=swap');

:root {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    --yellow: #FEDE00;
    --green: #0A7029;
    --yellowgreen: #C8DF52;
    --mint: #DBE8D8;
    --cognac: #907970;
    --khaki: #CAC1B0;
    --maroon: #854B50;
    --slate: #8693A0;

}

body {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    background: linear-gradient(to right, var(--khaki), var(--cognac));
}

.header {
    color: var(--maroon);
    height: 50px;
    font-size: 24px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95vw;
}

button {
    width: fit-content;
    height: fit-content;
    padding: 8px;
}

#btnAddNew {
    margin-left: auto;
}

.wrapper {
    width: 95vw;
    min-height: 60vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    background-color: var(--slate);
    gap: 10px;
}


.card {
    background-color: var(--maroon);
    color: white;
    margin: 8px;
    padding: 8px;
    border: 5px solid var(--cognac);
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
    justify-items: center;
}

.readButton, .deleteButton {
    background: var(--slate);
    color: white;
}

.deleteButton:hover {
    background: red;;
}

.modal-wrapper {
    display: block;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--slate);
    opacity: 50%;
    z-index: 1000;
}

.add-new-modal {
    width: 500px;
    padding: 8px;
    min-height: 50vh;
    z-index: 5000;
    position: fixed;
    opacity: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--maroon);
    color: mintcream;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
   
}

.modal-buttons {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 16px;
   
}

#close-modal:hover {
    background: red;
    color: white;
}

#modal-submit-button:hover {
    background: green;
    color: white;
}

.modal-wrapper.hide {
    display: none;
}

.add-new-modal.hide {
    display: none;
}


input {
    height: fit-content;
}

.submit-form-div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card > h2 {
    font-family: 'Patrick Hand', cursive;
}